* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root{
  height: 100%;
}

.App{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.tape{
  min-width: 400px;
  width: 35%;
  background-color: #92c5b8;
  border: 20px solid #000;
  border-radius: 37px;
}

@media only screen and (max-width: 768px) {
  .App{
    display: flex;
    flex-direction: column;
  }
}